<!-- 
Главная страница.
Наследуется от формы base.html
Показывает данные из файла.
Показывает форму ввода.
При нажатии кнопки Послать, ведёт на text.html.
method="post" - нужен для передачи данных формы.
-->
{% extends 'base.html' %}
{% block body %}
<h2>{{the_title}}</h2>
<form method="post" action="/text">
<!-- <form method="post" action="/"> -->
    <fieldset>
        <legend>Форма</legend>
        Информация<br>
        {{the_text}}<br>
        <input name="word" type="text" size="5">
        <input type="submit" value="Послать">
    </fieldset>
</form>

<!-- Форма загрузки файла -->
<form enctype="multipart/form-data" method="POST" action="/img">
    <fieldset>        
        <legend>Форма файла</legend>
        <!-- Информация<br>
        {{the_text}}<br> -->
        <input name="img" type="file">
        <input type="submit" value="Загрузить">
    </fieldset>
</form>
{% endblock %}
